.mouse-notification {
  position: absolute;
  pointer-events: none;
  animation: plusser .6s ease-in-out forwards;
  font-size: 28px;
  font-family: 'MedievalSharp';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: gold;
}

@keyframes plusser {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
