.resource-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .building-holder {
    width: 32%;
    margin-bottom: 1rem;
  }

  .building {
    background-color: red;
    width: 100%;
    margin: 5px;
    padding: 1rem;
    position: relative;

    img {
      max-width: 100%;
    }
  }

  .building .btn-tooltip,
  .building .btn-levelup {
    position: absolute;
    right: .5rem;
    bottom: .2rem;
    font-size: 130%;
    color: black;
  }

  .building .btn-levelup {
    right: 2.4rem;

    &:disabled {
      opacity: .3;
    }
  }

  .harvestable-building {
    cursor: pointer;
  }
}
